<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
<header>
    header template insert
    <hr>
</header>

<form>
    <label for="userId">ID</label>
    <input id="userId" type="text" required>
    <label for="password">Password</label>
    <input id="password" type="password" required>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="you@example.com">
    <label for="nickname">Nickname</label>
    <input id="nickname" type="text">
    <label for="memo">Memo</label>
    <textarea id="memo" rows="3"></textarea>
    <button type="submit">Submit</button>
</form>

<footer>
    <hr>
    footer template insert
</footer>

</body>
</html>