<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posting Page</title>
</head>

<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>First Posting</h1>
        </header>

        <aside>
            <p>Eunah</p>
            <p><a rel="me" href="rladmsdkz@gmail.com">rladmsdkz@gmail.com</a></p>
            <p><time datetime="2023-03-30T00:00:00">2024-03-30</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>Content<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>Comment</label>
                    <textarea id="articleComment" placeholder="Write Comment.." rows="3"></textarea>
                    <button type="submit">Write</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2024-01-01</small></time>
                            <strong>Eunah</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2024-01-01</small></time>
                            <strong>Eunah</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">Previous</a>
                <a href="#">Next</a>
            </nav>
        </section>

    </main>

    <footer id="footer"></footer>

</body>
</html>
